//Colors
$color1: rgba(159, 125, 205, 1); //light purple
$color2: rgba(183, 205, 206, 1); //light yellow

//Default
$white: rgba(255,255,255,1);
$grey: rgba(90,80,120,1);

//Fonts
$font1: 'Amatic SC', cursive;
$font2: 'Open Sans Condensed', sans-serif;